* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Caveat', cursive;
  height: 670px;
  background: url(../img/cave.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  word-break: break-all;
}

input {
  background-color: #f7d56d;
  border-radius: 50px;
  border: 2px solid #f7d56d;
  border-bottom: 1px solid #000; 
  font-family: 'Caveat', cursive;
  font-size: 20px;
  outline: none;
}

.open:before {
  content: "";
  display: block;
  position: absolute;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  width: 8px;
  height: 20px;
  background-color: #000;
  margin: 0 auto;
  -webkit-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
          transform: translateY(-60px);
}
.open-btn {
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  color: #fff;
  font-size: 50px;
  font-family: 'Caveat', cursive;
  font-weight: 900;
  cursor: pointer;
  background: url(../img/title.png) no-repeat center;
  -webkit-background-size: 50% 100%;
  background-size: 100% 100%;
  width: 525px;
  height: 100px;
}

.main {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: distribute;
  justify-content: space-between;
}

.main-info {
  display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-wrap: wrap;
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
     
     
     -webkit-align-content: flex-start;
         -ms-flex-line-pack: start;
             align-content: flex-start;
  margin-left: -50px;
  width: 550px;
  min-height: 400px;
  padding: 50px 0 20px 90px;
  background: url(../img/hello_html_m7b07aa74.png) center no-repeat;
  -webkit-background-size: 80% 105%;
  background-size: 80% 105%;

}

.main-info .name,
.main-info .name-value,
.main-info .budget,
.main-info .budget-value,
.main-info .goods,
.main-info .goods-value,
.main-info .items,
.main-info .items-value,
.main-info .employers,
.main-info .employers-value,
.main-info .discount,
.main-info .discount-value,
.main-info .isopen,
.main-info .isopen-value {
  width: 40%;
  min-height: 8%;
  padding: 8px;
  margin-bottom: 23px;
  font-size: 19px;
}

.main-info .discount-value, 
.main-info .isopen-value {
  border-radius: 50px;
  width: 33%;
}

.main-info .isopen,
.main-info .isopen-value {
  margin-bottom: 0;
}

.main-info .isopen-value,
.main-info .discount-value {
  background-color: #730000;

}
.main-functions {
  margin-right: 25px;
  width: 700px;
  min-height: 500px;
  padding: 20px;
  background: url(../img/book.png) center no-repeat;
  -webkit-background-size: 120% 110%;
  background-size: 120% 110%;
}

.main-functions .choose-goods,
.main-functions .choose-items,
.main-functions .time,
.main-functions .count-budget,
.main-functions .hire-employers {
  font-size: 20px;
}

.choose-goods-wrap,
.hire-employers-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

.choose-goods-wrap {
  margin-bottom: 30px;
}

.count-budget-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.main-functions .goods-item {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  height: 25px;
}

.main-functions .goods-item-btn,
.main-functions .count-budget-btn {
  padding: 8px 25px;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  background-color: #362308;
  color: #ccc;
  opacity: .9;
  display: block;
  border: 2px solid #ccc;
  outline: none;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 30px;
}

.main-functions .choose-item,
.main-functions .time-value,
.main-functions .count-budget-value {
  display: block;
  padding-left: 10px;
  width: 70%;
  height: 25px;
}

.choose-items-wrap,
.time-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  
}

.choose-items-wrap {
  margin-bottom: 30px;
}

.time-wrap {
  margin-bottom: 30px;
}

#items {
  width: 38.5%;
}

.main-functions .time-value {
  width: 30%;
}
.main-functions .count-budget-value {
  width: 30%;
  display: inline-block;  
}

.main-functions .hire-employers-item {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  height: 25px;
}

.main-functions .hire-employers-btn {
  padding: 8px 25px;
  background-color: #362308;
  color: #ccc;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  opacity: .9;
  display: block;
  border: 2px solid #ccc;
  outline: none;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 30px;
}

textarea {
  background-color: #f7d56d;
  border-radius: 50px;
  border: 2px solid #f7d56d;
  border-bottom: 1px solid #000; 
  font-family: 'Caveat', cursive;
  outline: none;
  resize: none;
}

.main-info-closed {
  display: none;

}

.main-functions-closed {
  display: none;
  background: url(../img/closed.png) no-repeat;
  width: 500px;
  height: 500px;

}

.text {
  text-align: center;
  font-size: 35px;
  color: #fff;
}

.picture {
  position: absolute;
  top: 100px;
  left: 300px;
  background: url(../img/witch.png) no-repeat center;
  width: 600px;
  height: 600px;
}

.picture-cat {
  animation-name: cat;
  animation-duration: 7s;
}

@keyframes cat {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

